.card{
    height: 150px;
    width: 300px;
    background-color: aliceblue;
    position: relative;
    overflow: hidden;
    display: flex;align-items: center;
    justify-content: center;text-align: center;
    background-color: rgba(63, 255, 255, 0.874);
     filter: drop-shadow(5px 3px 20px rgb(90, 236, 255));
     flex-shrink: 0;
     margin: 10px;
}

.card h1{ filter: drop-shadow(5px 3px 1px rgb(16, 157, 233));
box-shadow: 2px,2px,2px black;}

.hovercard img{
  width: 55%;

}
.hovercard{
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0;
    background:linear-gradient(to bottom,rgba(0, 255, 234, 0.7),rgba(117, 15, 249, 0.662));
    transform: translateY(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    
    filter: drop-shadow(5px 3px 20px rgb(90, 236, 255));
}

.card:hover .hovercard{
    transform: translateY(0);
    transition: all 0.8s ;
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1;

}

@media (min-width: 1024px) {
  .card {
    width: 28vw;
    height: 12vw;
  }
  .hovercard img {
    width: 70%;
  }
}